<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="/assets/favicon.ico?v=9BP06PP5E0">
  <title>David Millard</title>
  <style type="text/css">

    #photo {
      float: right;
      margin: 0 0 1em 1em;
      width: 200px;
      overflow: hidden;
      border: solid 3px black;
    }

    #photo img {
      width: 200px;
      display: block;
    }

    #footer {
      margin-top: 20px;
      font-size: 8pt;
      color: grey;
    }

    @media (min-width: 870px) {
      #container {
        width: 820px;
        margin: 30px auto 30px auto;
        background-color: white;
      }
    }

    @media (max-width: 870px) {
      #container {
        margin: 0 5px 0 5px;
      }

      #photo {
        width: 140px;
        height: 140px;
        border-radius: 50%;
      }

      #photo img {
        width: 140px;
      }
    }

    pre {
      white-space: pre-wrap;
    }

    .publication {
      margin: 1em 0;
    }

    input[type=checkbox] {
      margin: 0;
    }

    .hidden {
      display: none;
    }

  </style>

  <script type="text/javascript">
    window.onload = (event) => {
          const bibs = document.getElementsByClassName("bib");
          for (const bib of bibs) {
                let bibString = bib.getElementsByTagName('pre')[0].innerHTML;
                let p = document.createElement("p");
                let showLink = document.createElement("a");
                showLink.setAttribute("href", "javascript:void(0)");
                showLink.innerHTML = "copy to clipboard";
                let successSpan = document.createElement("span");
                successSpan.classList.add("hidden");
                successSpan.innerHTML = " &#10004";
                p.prepend("(", showLink, successSpan, ")");
                bib.append(p);
                showLink.onclick = (event) => {
                      let clipPromise = window.navigator.clipboard.writeText(bibString);
                      clipPromise.then(
                            (value) => {
                                  successSpan.classList.remove("hidden");
                                  setTimeout(
                                       () => successSpan.classList.add("hidden"),
                                       3000
                                  );
                            },
                            (err) => console.log(err)
                      );
                };
          };
    };
  </script>

</head>

<body>

  <div id="container">
    {{content}}
  </div>

</body>

</html>
