<style>
#bib-{{ entry.key }} {
  display: none;
}
#bibtoggle-{{ entry.key }}:checked ~ #bib-{{ entry.key }} {
  display: block;
  border: 1px solid black;
  margin: 1em;
  padding: 0 1em;
  background-color: #e0e0e0;
}
</style>
<div class="publication">
  {{ entry.authorhtml }}.
  &ldquo;{{ entry.keyvals.title }},&rdquo;
  {{ #entry.keyvals.journal }}
    <i>{{ entry.keyvals.journal }}</i>.
  {{ /entry.keyvals.journal }}
  {{ #entry.keyvals.eventtitle }}
    presented at the {{ entry.keyvals.eventtitle }}{{ #entry.keyvals.venue }}
      ({{ entry.keyvals.venue }}){{ /entry.keyvals.venue }}.
  {{ /entry.keyvals.eventtitle }}
  {{ entry.keyvals.year }}.
  (
  {{#entry.keyvals.note.links}}<a href="{{url}}">{{ name }}</a>, {{/entry.keyvals.note.links}}
  <input type="checkbox" class="bibtoggle" id="bibtoggle-{{ entry.key }}" />
  <label for="bibtoggle-{{ entry.key }}">show BibTeX</label>
  )
  <div class="bib" id="bib-{{ entry.key }}">
    <pre>{{ entry.bibstring }}</pre>
  </div>
</div>
